.portfolio {
    text-align: center;
    margin-top: 8%;
  
    h1 {
      font-size: 4rem;
      margin-top: 2rem;
      color: #ffd600;
      font-weight: 700;
    }
  
    .card-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 2rem;
      animation: fadeIn 3s 1.7s backwards;
  
      .card {
        position: relative;
        width: calc(33.33% - 14rem);
        height: 180px;
        margin: 1rem;
        overflow: hidden;
  
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: all 0.5s ease-in-out;
        }
  
        .overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: rgba(255, 214, 0, 0.6);
          opacity: 0;
          transition: all 0.5s ease-in-out;
          cursor: pointer;
          font-size: large;
          font-family: sans-serif;
          font-weight: bold;
          color: #414141;
        }
  
        &:hover .overlay {
          opacity: 1;
        }
      }
    }
  }
  